.list-view-container h2 {
    font-size: 1.8rem;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.task-table {
    width: 100%;
    border-collapse: collapse; /* Une los bordes de las celdas */
}

.task-table th, 
.task-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--color-border);
    vertical-align: middle; /* Centra el contenido verticalmente */
}

.task-table th {
    color: var(--color-text-secondary);
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.task-table tbody tr {
    transition: background-color 0.2s ease;
}

.task-table tbody tr:hover {
    background-color: var(--color-bg-light);
}

.assignee-avatars { 
    display: flex; 
}

/* Reutilizamos el estilo de avatar que ya existe */
.assignee-avatars .avatar-sm {
    margin-left: -10px;
    border: 2px solid var(--color-bg-dark);
}

.assignee-avatars .avatar-sm:first-child { 
    margin-left: 0; 
}

td.urgent {
    color: var(--color-priority-high);
    font-weight: 500;
}

.progress-bar-container-sm {
    background-color: var(--color-bg-dark);
    border-radius: 4px;
    height: 8px;
    width: 100px;
    overflow: hidden;
    border: 1px solid var(--color-border);
}

.progress-bar-sm {
    background-color: var(--color-accent-primary);
    height: 100%;
    border-radius: 4px;
    transition: width 0.5s ease;
}

