/* src/App.css */

/* --- ESTRUCTURA PRINCIPAL DEL LAYOUT --- */
.app-layout, .app-layout-sidebar-open {
  display: grid;
  height: 100vh;
  grid-template-rows: 60px 1fr; /* Header más pequeño, Fila para contenido */
  transition: grid-template-columns var(--animation-speed) ease-in-out;
}

/* Layout por defecto (Sidebar + Main) */
.app-layout {
  grid-template-columns: 240px 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

/* Layout cuando el sidebar derecho está abierto */
.app-layout-sidebar-open {
  grid-template-columns: 240px 1fr 300px;
  grid-template-areas: 
    "sidebar header activity"
    "sidebar main activity";
}


/* --- ÁREAS DEL GRID --- */
.app-main-content {
  grid-area: main;
  background-color: var(--color-bg-dark);
  padding: 30px;
  overflow-y: auto;
}

.project-required-message {
  text-align: center;
  padding-top: 50px;
}